<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.jonatansolon.dictionary.IcelandicLatin</string>
	<key>CFBundleName</key>
	<string>Icelandic-Latin</string>
	<key>CFBundleDisplayName</key>
	<string>Íslenska - Latína (L&amp;S, öfug leit)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>DCSDictionaryCopyright</key>
	<string>Inverted from Lewis &amp; Short + CLARIN IS-EN glossary bridge data. Curated by Jonatan Solon.</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>Jónatan Sólon</string>
	<key>DCSDictionaryFrontMatterWindowSize</key>
	<string>0.5</string>
</dict>
</plist>
